<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

{% block body %}
<div class="container-fluid">

<body>
	<div class="container-fluid">
	
	    <div class="row">
	        <div class="col-sm-12 col-md-6">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                    <h2>Our Cars - Register for an Account</h2>
	                    {% if error_message %}
	                        <p><strong>{{ error_message }}</strong></p>
	                    {% endif %}
	                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
	                         {% csrf_token %}
		                        <div class="form-group">
		                            <label class="control-label col-sm-2" for="id_username">
		                                Username:
		                            </label>
		                            <div class="col-sm-10">
		                                <input id="id_username" maxlength="30" name="username" type="text">
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label class="control-label col-sm-2" for="id_password">
		                                Password:
		                            </label>
		                            <div class="col-sm-10">
		                                <input id="id_password" maxlength="30" name="password" type="password">
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <div class="col-sm-offset-2 col-sm-10">
		                            	<h4></h4>
		                                <button type="submit" class="btn btn-success">Submit</button>
		                            </div>

		                        </div>
	                    </form>
						<div class="panel-footer">
                    		Already have an account? <a href="{% url 'ourcarsapp:login' %}">Click here</a> to log in.
						</div>
	                </div>
	                
	            </div>
	        </div>
	    </div>
	
	</div>
</body>

{% endblock %}