{% extends 'ourcarsapp/base.html' %}
{% block title %}Add a Record{% endblock %}
{% block cars_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
   <div id="big_wrapper">
    <div class="row">

        <!-- Left car Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                        <a href="{% url 'ourcarsapp:index'%}">
                            {% if cars.cars_logo %}
                                <img src="{{ cars.cars_logo.url }}" class="img-responsive">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                    <h1>{{ cars.car_make }}  {{ cars.car_model }} </h1>
                    <h3>{{ cars.rego }}</h3>
                </div>
            </div>
        </div>
 
        <!-- Right Service Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add New Record</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="cars" value="{{ cars }}">
                        {% include 'ourcarsapp/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" >Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <footer id="the_footer">
					Copyright GNT Systems 2017-2024
    </footer>
   </div>
</div>

{% endblock %}
